<div class="overlay">
    <div class="container">
        <h2 >Enter your color</h2>
        <div class="picker">
            <div class="colors">
               
                <input [(ngModel)]="primary" type="color">
                <label>Primary</label>
            </div>
            <div class="colors">
                
                <input [(ngModel)]="second" type="color">
                <label>Second</label>
            </div>
            <div class="colors">
                
                <input [(ngModel)]="third" type="color">
                <label>Third</label>
            </div>
            <div class="colors">
                
                <input [(ngModel)]="fourth" type="color">
                <label>Fourth</label>
            </div>
            <div class="colors">
                
                <input [(ngModel)]="fifth" type="color">
                <label>Fifth</label>
            </div>
            <div class="colors">
                
                <input [(ngModel)]="text" type="color">
                <label>Text</label>
            </div>
            <div class="colors">
                
                <input [(ngModel)]="error" type="color">
                <label>Error</label>
            </div>
        </div>
        <div class="btn-container">
            <button (click)="onCancel()" class=".bold">Cancel</button>
            <button (click)="redesign()" class=".bold">Redesign</button>
        </div>
    </div>
</div>

<!-- --primary : #00194A;
    --second: #000A2E;
    --third:#1D295E;
    --fourth:#00072C;
    --fifth:#002765;
    --white:#fff;
    --error:red; -->