<div *ngIf="!available" class="overlay">
    <img src="../../assets//empty.png">
    
</div>
<div *ngIf="available" class="chat-container">
    <div class="header">
        <img [src]="receiver.profile">
        <p>{{receiver.name}}</p>
        <img *ngIf="getScreenWidth<940" (click)="toggle()" src='../../assets/back.png'>

    </div>
    <div class="box" #box>
        <app-chat *ngFor="let msg of chats" [msg]="msg" [ngClass]="(msg.type=='code')?'code':''" [ngStyle]="{alignSelf:(msg.id===sender.id)?'flex-end':'flex-start'}"></app-chat>
    </div>
    <div class="input">
        <input (keypress)="onPress($event)" [(ngModel)]="msg">/>
        <div class='btn-container'>
            <div class="img-container" (click)="sendCode()"> <img src="../../assets/compile.png"></div>
            <div class="img-container" (click)="sendMsg('txt')"><img src="../../assets/send.png"></div>
        </div>
    </div>
    <app-code *ngIf="compilerModal" (compile)="onCompile($event)"></app-code>
    
</div>
