.root{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 20% 80%;
}

.left{
    background-color: var(--second);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 0;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    height: calc(100vh - 40px);
}

.left::-webkit-scrollbar{
    display: none;
}

.right{
    background-color: var(--third);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
}

.profiler{
    width: calc(100% + 30px);
    height: 60px;
    background-color: var(--white);
    color: var(--primary);
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0px 3px 5px rgb(120, 129, 248);
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    align-self: center;
    justify-content: space-between;
    align-items: center;

}
.profiler img{
    border-radius: 50%;
    width: 40px;
    height: 100%;
    object-fit: cover
}

.profiler img:last-child{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 7px black;
}